dynapad/Service References/test.dynadox.pro/DynaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://test.dynadox.pro/dynawcfservice/DynaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DynaWCFService" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQuestionnaires">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQuestionnairesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllQuestionnairesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitFormAnswers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="answers" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="update" type="xs:boolean" />
        <xs:element minOccurs="0" name="isDoctorInput" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitFormAnswersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitFormAnswersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="formID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApptDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isDocInput" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFormQuestionsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorInput">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="formID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorInputResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDoctorInputResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortForms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="qFormID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="showcase" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortFormsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetShortFormsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateShortForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="formID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateShortFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateShortFormResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listingid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datecompleted" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sFormId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSignature">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sigByteArray" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="sigName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSignatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSignatureResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMedicalRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageByteArray" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="listingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMedicalRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveMedicalRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestedDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetListingsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedicalRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedicalRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMedicalRecordsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DynaWCFService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DynaWCFService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>