dynapad/Web References/DynaPadService/dynapadservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuildDynaMenu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="locationId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuildDynaMenuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuildDynaMenuResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAnswerPresets">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="formId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sectionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="doctorId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isDocInput" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="locationId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAnswerPresetsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAnswerPresetsResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveAnswerPreset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="formId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sectionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="doctorId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isDocInput" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="presetName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="presetJson" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="locationId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveAnswerPresetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveAnswerPresetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveDictation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="formId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sectionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="doctorId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isDocInput" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="locationId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dictationTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arrDictation" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveDictationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveDictationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFormDictations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="formId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sectionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="doctorId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isDocInput" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="locationId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFormDictationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFormDictationsResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuJson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="formId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apptDate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isDocInput" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuJsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMenuJsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportToPdf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="answers" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportToPdfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportToPdfResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllQuestionnaires">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllQuestionnairesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllQuestionnairesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitFormAnswers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="answers" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="update" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="isDoctorInput" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitFormAnswersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubmitFormAnswersResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFormQuestions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="formId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apptId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isDocInput" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFormQuestionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFormQuestionsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDoctorInput">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="formId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDoctorInputResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDoctorInputResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDynaReports">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="qFormID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="showcase" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDynaReportsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDynaReportsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDynaReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="formId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDynaReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateDynaReportResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="apptId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="qFormId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateCompleted" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sFormId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateReportResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="BuildDynaMenuSoapIn">
    <wsdl:part name="parameters" element="tns:BuildDynaMenu" />
  </wsdl:message>
  <wsdl:message name="BuildDynaMenuSoapOut">
    <wsdl:part name="parameters" element="tns:BuildDynaMenuResponse" />
  </wsdl:message>
  <wsdl:message name="GetAnswerPresetsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAnswerPresets" />
  </wsdl:message>
  <wsdl:message name="GetAnswerPresetsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAnswerPresetsResponse" />
  </wsdl:message>
  <wsdl:message name="SaveAnswerPresetSoapIn">
    <wsdl:part name="parameters" element="tns:SaveAnswerPreset" />
  </wsdl:message>
  <wsdl:message name="SaveAnswerPresetSoapOut">
    <wsdl:part name="parameters" element="tns:SaveAnswerPresetResponse" />
  </wsdl:message>
  <wsdl:message name="SaveDictationSoapIn">
    <wsdl:part name="parameters" element="tns:SaveDictation" />
  </wsdl:message>
  <wsdl:message name="SaveDictationSoapOut">
    <wsdl:part name="parameters" element="tns:SaveDictationResponse" />
  </wsdl:message>
  <wsdl:message name="GetFormDictationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFormDictations" />
  </wsdl:message>
  <wsdl:message name="GetFormDictationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFormDictationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetMenuJsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetMenuJson" />
  </wsdl:message>
  <wsdl:message name="GetMenuJsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetMenuJsonResponse" />
  </wsdl:message>
  <wsdl:message name="ExportToPdfSoapIn">
    <wsdl:part name="parameters" element="tns:ExportToPdf" />
  </wsdl:message>
  <wsdl:message name="ExportToPdfSoapOut">
    <wsdl:part name="parameters" element="tns:ExportToPdfResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllQuestionnairesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllQuestionnaires" />
  </wsdl:message>
  <wsdl:message name="GetAllQuestionnairesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllQuestionnairesResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitFormAnswersSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitFormAnswers" />
  </wsdl:message>
  <wsdl:message name="SubmitFormAnswersSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitFormAnswersResponse" />
  </wsdl:message>
  <wsdl:message name="GetFormQuestionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFormQuestions" />
  </wsdl:message>
  <wsdl:message name="GetFormQuestionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFormQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDoctorInputSoapIn">
    <wsdl:part name="parameters" element="tns:GetDoctorInput" />
  </wsdl:message>
  <wsdl:message name="GetDoctorInputSoapOut">
    <wsdl:part name="parameters" element="tns:GetDoctorInputResponse" />
  </wsdl:message>
  <wsdl:message name="GetDynaReportsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDynaReports" />
  </wsdl:message>
  <wsdl:message name="GetDynaReportsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDynaReportsResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDynaReportSoapIn">
    <wsdl:part name="parameters" element="tns:CreateDynaReport" />
  </wsdl:message>
  <wsdl:message name="CreateDynaReportSoapOut">
    <wsdl:part name="parameters" element="tns:CreateDynaReportResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateReportSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateReport" />
  </wsdl:message>
  <wsdl:message name="GenerateReportSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateReportResponse" />
  </wsdl:message>
  <wsdl:portType name="DynaPadServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuildDynaMenu">
      <wsdl:input message="tns:BuildDynaMenuSoapIn" />
      <wsdl:output message="tns:BuildDynaMenuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAnswerPresets">
      <wsdl:input message="tns:GetAnswerPresetsSoapIn" />
      <wsdl:output message="tns:GetAnswerPresetsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveAnswerPreset">
      <wsdl:input message="tns:SaveAnswerPresetSoapIn" />
      <wsdl:output message="tns:SaveAnswerPresetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveDictation">
      <wsdl:input message="tns:SaveDictationSoapIn" />
      <wsdl:output message="tns:SaveDictationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFormDictations">
      <wsdl:input message="tns:GetFormDictationsSoapIn" />
      <wsdl:output message="tns:GetFormDictationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuJson">
      <wsdl:input message="tns:GetMenuJsonSoapIn" />
      <wsdl:output message="tns:GetMenuJsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExportToPdf">
      <wsdl:input message="tns:ExportToPdfSoapIn" />
      <wsdl:output message="tns:ExportToPdfSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllQuestionnaires">
      <wsdl:input message="tns:GetAllQuestionnairesSoapIn" />
      <wsdl:output message="tns:GetAllQuestionnairesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitFormAnswers">
      <wsdl:input message="tns:SubmitFormAnswersSoapIn" />
      <wsdl:output message="tns:SubmitFormAnswersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFormQuestions">
      <wsdl:input message="tns:GetFormQuestionsSoapIn" />
      <wsdl:output message="tns:GetFormQuestionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDoctorInput">
      <wsdl:input message="tns:GetDoctorInputSoapIn" />
      <wsdl:output message="tns:GetDoctorInputSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDynaReports">
      <wsdl:input message="tns:GetDynaReportsSoapIn" />
      <wsdl:output message="tns:GetDynaReportsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateDynaReport">
      <wsdl:input message="tns:CreateDynaReportSoapIn" />
      <wsdl:output message="tns:CreateDynaReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateReport">
      <wsdl:input message="tns:GenerateReportSoapIn" />
      <wsdl:output message="tns:GenerateReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DynaPadServiceSoap" type="tns:DynaPadServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildDynaMenu">
      <soap:operation soapAction="http://tempuri.org/BuildDynaMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnswerPresets">
      <soap:operation soapAction="http://tempuri.org/GetAnswerPresets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAnswerPreset">
      <soap:operation soapAction="http://tempuri.org/SaveAnswerPreset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDictation">
      <soap:operation soapAction="http://tempuri.org/SaveDictation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFormDictations">
      <soap:operation soapAction="http://tempuri.org/GetFormDictations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuJson">
      <soap:operation soapAction="http://tempuri.org/GetMenuJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportToPdf">
      <soap:operation soapAction="http://tempuri.org/ExportToPdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllQuestionnaires">
      <soap:operation soapAction="http://tempuri.org/GetAllQuestionnaires" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFormAnswers">
      <soap:operation soapAction="http://tempuri.org/SubmitFormAnswers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFormQuestions">
      <soap:operation soapAction="http://tempuri.org/GetFormQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctorInput">
      <soap:operation soapAction="http://tempuri.org/GetDoctorInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDynaReports">
      <soap:operation soapAction="http://tempuri.org/GetDynaReports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDynaReport">
      <soap:operation soapAction="http://tempuri.org/CreateDynaReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateReport">
      <soap:operation soapAction="http://tempuri.org/GenerateReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DynaPadServiceSoap12" type="tns:DynaPadServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildDynaMenu">
      <soap12:operation soapAction="http://tempuri.org/BuildDynaMenu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnswerPresets">
      <soap12:operation soapAction="http://tempuri.org/GetAnswerPresets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAnswerPreset">
      <soap12:operation soapAction="http://tempuri.org/SaveAnswerPreset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDictation">
      <soap12:operation soapAction="http://tempuri.org/SaveDictation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFormDictations">
      <soap12:operation soapAction="http://tempuri.org/GetFormDictations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuJson">
      <soap12:operation soapAction="http://tempuri.org/GetMenuJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportToPdf">
      <soap12:operation soapAction="http://tempuri.org/ExportToPdf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllQuestionnaires">
      <soap12:operation soapAction="http://tempuri.org/GetAllQuestionnaires" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFormAnswers">
      <soap12:operation soapAction="http://tempuri.org/SubmitFormAnswers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFormQuestions">
      <soap12:operation soapAction="http://tempuri.org/GetFormQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctorInput">
      <soap12:operation soapAction="http://tempuri.org/GetDoctorInput" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDynaReports">
      <soap12:operation soapAction="http://tempuri.org/GetDynaReports" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDynaReport">
      <soap12:operation soapAction="http://tempuri.org/CreateDynaReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateReport">
      <soap12:operation soapAction="http://tempuri.org/GenerateReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DynaPadService">
    <wsdl:port name="DynaPadServiceSoap" binding="tns:DynaPadServiceSoap">
      <soap:address location="http://test.dynadox.pro/dynawcfservice/dynapadservice.asmx" />
    </wsdl:port>
    <wsdl:port name="DynaPadServiceSoap12" binding="tns:DynaPadServiceSoap12">
      <soap12:address location="http://test.dynadox.pro/dynawcfservice/dynapadservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>